/* DEFAULTS */
html, body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: var(--text-size-default);
    background: var(--color-bg-default);
    color: var(--color-text-default);
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: var(--gutter);
    background: var(--color-bg-header);
    color: var(--color-text-header);
}

h1 {
    font-size: var(--text-size-title-main);
}

h2 {
    color: var(--color-text-header-group);
    padding: var(--gutter);
    font-size: var(--text-size-title-group);
}

h3 {
    color: var(--color-text-default);
    background: transparent;
    padding: 0;
    margin-bottom: var(--gutter);
    font-size: var(--text-size-title-script);
}

svg {
    fill: var(--color-icon);
    stroke: var(--color-icon);
}


/* UTILS */
.right {
    float: right;
}

/* BUTTON */
.button {
    display: inline-block;
    background: var(--color-bg-button);
    border-radius: 4px;
    text-align: center;
    color: var(--color-text-button);
    font-weight: 430;
    padding: 8px 16px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

/* NO CONFIG */
.no-config-found {
    padding: var(--gutter);
}

/* CODE */
.code {
    color: var(--color-text-code);
    font-family: var(--code-font);
}

.no-config-found .code,
.settings .code {
    background: var(--color-bg-code);
    padding: 4px;
}

/* GROUP */
.group {
    margin: calc(2 * var(--gutter)) var(--gutter);
    border: 1px solid var(--color-border);
}

.group__scripts {
    max-height: 2000px;
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;
}

.group__title {
    cursor: pointer;
}

.group--closed ~ .group__scripts {
    max-height: 0px;
}

/* SCRIPT */
.script__container p {
    margin: calc(var(--gutter)/2) 0;
}

.script__container {
    padding: var(--gutter);
    border-bottom: 1px solid var(--color-border);;
    cursor: pointer;
}

.script__container:hover,
.script__container:hover .code {
   background: var(--color-bg-hover);
}

.script .code {
    padding: 2px 4px;
    margin: -2px 0px;
    background: var(--color-bg-code);
}

/* ICON */
.icon--settings {
    margin-top: -2px;
    cursor: pointer;
}

.icon--settings-close {
    margin-top: 4px;
    margin-right: 2px;
    cursor: pointer;
}

/* SETTINGS */
.settings__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    transition: background 0.2s ease-in-out;
}

.settings__container--closed {
    background: rgba(0,0,0,0);
    pointer-events: none;
}

.settings {
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    background: var(--color-bg-header);
    box-shadow: 0px 0 16px 10px rgba(0,0,0,0.2);
    width: 430px;
    height: 100%;
    position: absolute;
    right: -430px;
    transform: translateX(-430px);
    background: var(--color-bg-default);
}

.settings h1 {
    background: var(--color-bg-default);
    border-bottom: 1px solid var(--color-border);
    padding: var(--gutter) 0;
    margin: 0 var(--gutter);
}

.settings h2 {
    padding: 0;
    background: var(--color-bg-default);
    color: var(--color-text-default);
}

.settings__block {
    border-bottom: 1px solid var(--color-border);
    padding: var(--gutter) 0;
    margin: 0 var(--gutter);
}

.settings__container--closed .settings {
    box-shadow: 0 0 0 0 rgba(0,0,0,0.2);
    transform: translateX(0px);
}

