:root {
    --gutter: 16px;

    --main-font: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    --code-font: 'Courier New', Courier;

    --text-size-title-main: 32px;
    --text-size-title-group: 20px;
    --text-size-title-script: 18px;
    --text-size-default: 16px;

    --color-bg-default: #282a36;
    --color-bg-header: #383a59;
    --color-bg-code: #383a59;
    --color-bg-hover:  #4c5067;
    --color-bg-button: #50fa7b;

    --color-text-default: #f8f8f2;
    --color-text-header: #bd93f9;
    --color-text-header-group: #8be9fd;
    --color-text-code: #ffb86c;
    --color-text-button: #000000;

    --color-icon: #6272a4;
    --color-border: #4c5067;
}
